# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env
.env.*

# OS/System Junk
.DS_Store

# IDEs/Editors
.vscode/
.idea/

# Coverage (for tests)
coverage/

# Misc
*.local
